<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <style>
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
            }
            th, td {
                border: 1px solid #000000;
                padding: 8px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
</head>
<body>
    <h1>workers</h1>

    <form action="{{ url_for('profile') }}" method="post">
        <label for="name">name</label>
        <input required
            type="text"
            name="name"
            id="name"
            placeholder="name"/>

        <label for="age">age</label>
        <input required
              type="number"
              name="age"
              id="age"
              placeholder="age"/>
        <label for="jobs">jobs</label>
        <input required
            type="text"
            name="jobs"
            id="jobs"
            placeholder="jobs"/>
        <label for="salery">salery</label>
        <input required
            type="number"
            name="salery"
            id="salery"
            placeholder="salery"/>


        <button type="submit">engistrer</button>



    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>jobs</th>
                <th>salery</th>
                
            </tr>
        </thead>
        <tbody>
            {% for key, item in disc.items() %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.age}}</td>
                <td>{{ item.jobs}}</td>
                <td>{{ item.salery }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </form>
</body>
</html>
